In [37]:
import sklearn as sk
import pandas as pd

In [43]:
equipos = pd.read_csv('../Data/equipos_data.csv')
equipos = equipos[['equipo','posicion','valor_mercado','aforo']]
historico = pd.read_csv('../Data/historico_data.csv')
historico = historico[['equipo1','posicion1','equipo2','posicion2','mes','fin_de_semana','publico']]

In [44]:
historico

,equipo1,posicion1,equipo2,posicion2,mes,fin_de_semana,publico
0,Real Madrid CF,1,FC Barcelona,4,8,1,67765
1,Real Madrid CF,1,FC Barcelona,2,4,0,56479
2,Real Madrid CF,3,FC Barcelona,5,6,1,72441
3,Real Madrid CF,4,FC Barcelona,1,5,1,69815
4,Real Madrid CF,1,FC Barcelona,5,1,1,76697
...,...,...,...,...,...,...,...
3795,Girona FC,17,Real Valladolid CF,18,10,1,7523
3796,Girona FC,18,Real Valladolid CF,16,8,1,7563
3797,Girona FC,17,Real Valladolid CF,20,11,1,4412
3798,Girona FC,18,Real Valladolid CF,19,3,0,4163
3799,Girona FC,20,Real Valladolid CF,17,11,1,8292

In [32]:
se_llena = pd.merge(historico,equipos, left_on='equipo1', right_on='equipo')
se_llena[se_llena['publico'] == se_llena['aforo']]

Se llena el estadio den 157 partidos

In [42]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression(normalize=True, n_jobs=2)

In [ ]:
modelo.fit(historico[['equipo1','equipo2','mes','fin_de_semana']],)