## Descarga de datos de Gitlab

Como los datos se encuentran en gitlab, podemos mediante web scrapping descargar esos datos y guardarlo en csv, para el posterior tratamiento de estos

In [1]:
import requests
import json

# Mediante la libreria requests, descargamos el contenido de la página web deseada.
# Además, añadimos a una lista la información que estaba contenida en formato json, donde para cada equipo se obtiene 
# la información de su posición en la anterior temporada, el valor de mercado y el aforo en el caso del archivo de equipos; 
# y en el caso del archivo de histórico se obtiene el aforo de cada partido disputado en anteriores temporadas, así como en que 
# posición estaban cada equipo

r = requests.get('https://gitlab.com/drvicsana/proyecto-calendario-deportivo/-/raw/main/equipos.json')
equipos_db = []
for line in r.text.split("\n"):
    equipos_db.append(json.loads(line))

r = requests.get('https://gitlab.com/drvicsana/proyecto-calendario-deportivo/-/raw/main/historico.json')
historico_db = []
for line in r.text.split("\n"):
    historico_db.append(json.loads(line))

In [3]:
import pandas as pd
# Por último, añadimos los datos a un dataframe y los guardamos en formato csv
equipos_data = pd.DataFrame.from_dict(equipos_db, orient='columns')
historico_data = pd.DataFrame.from_dict(historico_db, orient='columns')

In [4]:
equipos_data.to_csv('equipos_data.csv', index = True)
historico_data.to_csv('historico_data.csv', index = True)

In [5]:
equipos_data

                 equipo  posicion  valor_mercado  aforo
0        Real Madrid CF         1         770.75  81044
1          FC Barcelona         2         737.10  99354
2    Atlético de Madrid         3         661.80  68456
3            Sevilla FC         4         385.00  43883
4   Real Betis Balompié         5         259.00  59378
5         Real Sociedad         6         376.95  39500
6         Villarreal CF         7         408.90  23500
7         Athletic Club         8         226.05  53289
8           Valencia CF         9         310.60  48600
9            CA Osasuna        10         108.45  23576
10     RC Celta de Vigo        11         120.00  29000
11       Rayo Vallecano        12          67.20  15105
12             Elche CF        13          72.98  33732
13         RCD Espanyol        14         131.60  40500
14            Getafe CF        15         208.68  16800
15         RCD Mallorca        16          74.15  20500
16             Cádiz CF        17          67.80  21094
17           UD Almería        18          63.75  15274
18   Real Valladolid CF        19          66.65  27618
19            Girona FC        20          38.05  11286

In [6]:
historico_data

,equipo1,posicion1,equipo2,posicion2,mes,fin_de_semana,publico
0,Real Madrid CF,1,FC Barcelona,4,8,1,67765
1,Real Madrid CF,1,FC Barcelona,2,4,0,56479
2,Real Madrid CF,3,FC Barcelona,5,6,1,72441
3,Real Madrid CF,4,FC Barcelona,1,5,1,69815
4,Real Madrid CF,1,FC Barcelona,5,1,1,76697
...,...,...,...,...,...,...,...
3795,Girona FC,17,Real Valladolid CF,18,10,1,7523
3796,Girona FC,18,Real Valladolid CF,16,8,1,7563
3797,Girona FC,17,Real Valladolid CF,20,11,1,4412
3798,Girona FC,18,Real Valladolid CF,19,3,0,4163
3799,Girona FC,20,Real Valladolid CF,17,11,1,8292